html {
    box-sizing: border-box;
}

body {
    background-color: rgb(30, 30, 30);
}

p,
label,
table {
    color: white;
}

.control {
    display: flex;
    justify-content: center;
}

.control > * {
    margin: 10px 5px;
}

.item {
    /* border: 2px solid red; */
    flex: none;
}

.data.item > * {
    margin: 0px;
    /* border: 2px solid red; */
}

.container {
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.container > .data {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#rbrac,
#lbrac {
    padding: 0px 2px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

#lbrac {
    margin-left: 5px;
    border-left: 1px solid white;
}

#rbrac {
    margin-right: 5px;
    border-right: 1px solid white;
}

#mat {
    display: flex;
    align-items: stretch;
}